body {
  background-image: url(canvas.jpg);
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
header {
  font-size: 25px;
  font-family: goodlife-brush, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-left: 16px;
  padding-top: 16px;
}
header a:link {
  color: #2f291d;
  text-decoration: none;
}

header a:visited {
  color: #2f291d;
  text-decoration: none;
}

header a:hover {
  color: #b4786c;
  text-decoration: none;
}

h2 {
  font-family: goodlife-brush, sans-serif;
  font-weight: 400;
  font-style: italic;
}
#Main {
  text-align: center;
  grid-column: span 3;
  font-family: goodlife-brush, sans-serif;
  font-weight: 400;
  font-style: italic;
}
nav {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 10px;
  padding-top: 10px;
text-align: center;
}

nav a {
  color: #2f291d;
  text-decoration: none;
}

nav a:visited {
  color: #2f291d;
  text-decoration: none;
}

nav a:hover {
  color: #b4786c;
  text-decoration: none;
}

#digart {
  width: 150px;
  height: auto;
  padding-left: 30px;
}
#UI {
  width: 150px;
  height: 150px;
  padding-left: 30px;
}

#video {
  width: 175px;
  height: auto;
  padding-left: 30px;
}

.about {
  grid-column: span 3;
  justify-content: center;
}
